
*.db
*.opendb
*.ipch
*.log
*.tlog
*.idb
*.pdb
*.obj
*.iobj
*.ipdb
*.exp
*.ilk
export/blog_d.lib
export/blog_d.dll
export/blog.dll
export/blog.lib
export/tracer.dll
export/tracer.lib
export/tracer_d.lib
export/tracer_rpc.dll
export/tracer_rpc.lib
.vs/dApps/v15/Solution.VC.db-wal
.vs/dApps/v15/Solution.VC.db-shm
.vs/dApps/v15/.suo
