<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/nodix.site/">
        <img src="/assets/img/logo_single.png" width="30" height="30" class="d-inline-block align-top" alt="Nodix Brand">
        Cards Application
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a id="mycards" class="nav-link cards-nav" href="index">my cards</a></li>
            <li id="card-admin" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a id="newobj" class="nav-link cards-nav" href="newobj">new object</a>
                    <a id="newcard" class="nav-link cards-nav" href="newcard">new card</a>                
                </div>
            </li>

        </ul>
    </div>



</nav>

<br/>
<br />